
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;1,200;1,300&display=swap');



body{
    font-size: 1.5vw;
    background-image: url(/css/17010.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Source Sans Pro', sans-serif;
}

div.login{
/*IMPORTANTE*/
display: flex;  
justify-content: center;
align-items: center;
}

div.login2{
    /* background-color: yellow; */   
    font-size: 2vw;
    }


div.formulario{
    /* padre */
    
text-align: center;
/*IMPORTANTE*/
display: flex;
justify-content: center;
align-items: center;
}

div.formulario2{
    /* hijos */
border-radius: 20px;
background-image: url(/css/form1.png);

}


p.input{

    font-size: 2vw;

}

input{
margin: 10px;
font-size: 1.5vw;
}

div.adapt{

/*IMPORTANTE*/
display: flex;
justify-content: center;
align-items: center;
}


#menu{
    background-color: #000;

}

#menu ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

#menu ul li{
    display: inline-block;
}

#menu ul li a{
    color: white;
    display: block;
    padding: 20px 20px;
    text-decoration: none;
}

#menu ul li a:hover{
    background-color: #42B881;
}

.item-r{
    float: right;
}

div.indexs{
    /* hijos */
border-radius: 20px;
height:80%;
width:100%;
background-image: url(/css/form1.png);
}

div.index2{
    /* hijos */
border-radius: 5px;
height:80%;
width:100%;
background-image: url(/css/form1.png);
}


div.adapt2{

    /*IMPORTANTE*/
    display: flex;
    justify-content: center;
    align-items: center;
    
    }
    
p.subtt1{
color: white;
text-align: center;
}
  
p.subtt2{
    font-size: 1vw;
    color: white;
    text-align: center;
   
    }

div.video{

    width:100%;
    float:left;
    text-align:center;

}


mark{


    background-color: cornflowerblue;

}

mark.video{


    background-color: cornflowerblue;

}

h1.back{
    font-size: 1vw;
    text-align: center;

}
h1.back2{
    font-size: 2vw;
    text-align: left;

}

div.container{
    width : 35vw;
    height: 35vw;
    /* background-color: rgb(144, 222, 253) ; */
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

div.item{
    cursor: hand;
    color: white;
    flex: none;
    width: calc(( 100% - 30px ) / 4);
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 0;
}

div#a{
    background: rgb(77, 199, 40);
}
div#b{
    background: rgb(199, 40, 40);
}


div.left{

    /*IMPORTANTE*/
    display: flex;
    justify-content: left;
    align-items: left;

}